pipeline/PL_APPEND_VARIABLES_EXAMPLE.json
{
	"name": "PL_APPEND_VARIABLES_EXAMPLE",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "x",
					"value": "400"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ouput_x",
					"value": {
						"value": "@variables('x')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"x": {
				"type": "Array",
				"defaultValue": [
					100,
					200,
					300
				]
			},
			"ouput_x": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}