abinaya1013/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "abinaya1013"
		},
		"LS_SQL_SERVER_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_SERVER'"
		},
		"LS_SQL_SERVER_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-HRCOLHT\\SQLEXPRESS"
		},
		"LS_SQL_SERVER_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Test_Db"
		},
		"LS_SQL_SERVER_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "User13"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_PRODUCT_TGT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "ProductSingleResult folder",
						"fileSystem": "target"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RESTAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_REST_API2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"item": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					},
					"containername": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().item",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RESTAPI_COUNTRYNAME')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_REST_API2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"item": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().item",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_ALLCOUNTRIES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_API_ITEM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"item": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().item",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_CAR_MODELS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MODEL_NO",
						"type": "varchar"
					},
					{
						"name": "MODEL_NAME",
						"type": "varchar"
					},
					{
						"name": "MANUFACTURING_COUNTRY",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "car_tgt"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_DYNAMIC_TABLE_FOLDER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tablename": {
						"type": "string"
					},
					"schemaname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaname",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_EMPLOYEE_TGT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_TRIGGERS_CSV_TGT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "destinationfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_JSON",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().filename,'.json')",
							"type": "Expression"
						},
						"folderPath": "API_FILES",
						"fileSystem": "outputtgt"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_REST_API2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"item": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().item",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_json4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_JSON",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					},
					"containername": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().containername",
							"type": "Expression"
						},
						"fileSystem": "outputtgt"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_json_api5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_JSON",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().filename,'.json')",
							"type": "Expression"
						},
						"fileSystem": "targetapi"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"name": {
							"type": "object",
							"properties": {
								"common": {
									"type": "string"
								},
								"official": {
									"type": "string"
								},
								"nativeName": {
									"type": "object",
									"properties": {
										"eng": {
											"type": "object",
											"properties": {
												"official": {
													"type": "string"
												},
												"common": {
													"type": "string"
												}
											}
										},
										"hin": {
											"type": "object",
											"properties": {
												"official": {
													"type": "string"
												},
												"common": {
													"type": "string"
												}
											}
										},
										"tam": {
											"type": "object",
											"properties": {
												"official": {
													"type": "string"
												},
												"common": {
													"type": "string"
												}
											}
										},
										"ukr": {
											"type": "object",
											"properties": {
												"official": {
													"type": "string"
												},
												"common": {
													"type": "string"
												}
											}
										},
										"kor": {
											"type": "object",
											"properties": {
												"official": {
													"type": "string"
												},
												"common": {
													"type": "string"
												}
											}
										},
										"ell": {
											"type": "object",
											"properties": {
												"official": {
													"type": "string"
												},
												"common": {
													"type": "string"
												}
											}
										},
										"tur": {
											"type": "object",
											"properties": {
												"official": {
													"type": "string"
												},
												"common": {
													"type": "string"
												}
											}
										},
										"sot": {
											"type": "object",
											"properties": {
												"official": {
													"type": "string"
												},
												"common": {
													"type": "string"
												}
											}
										},
										"ssw": {
											"type": "object",
											"properties": {
												"official": {
													"type": "string"
												},
												"common": {
													"type": "string"
												}
											}
										},
										"fra": {
											"type": "object",
											"properties": {
												"official": {
													"type": "string"
												},
												"common": {
													"type": "string"
												}
											}
										},
										"mfe": {
											"type": "object",
											"properties": {
												"official": {
													"type": "string"
												},
												"common": {
													"type": "string"
												}
											}
										},
										"nld": {
											"type": "object",
											"properties": {
												"official": {
													"type": "string"
												},
												"common": {
													"type": "string"
												}
											}
										},
										"pap": {
											"type": "object",
											"properties": {
												"official": {
													"type": "string"
												},
												"common": {
													"type": "string"
												}
											}
										}
									}
								}
							}
						},
						"tld": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"cca2": {
							"type": "string"
						},
						"ccn3": {
							"type": "string"
						},
						"cca3": {
							"type": "string"
						},
						"cioc": {
							"type": "string"
						},
						"independent": {
							"type": "boolean"
						},
						"status": {
							"type": "string"
						},
						"unMember": {
							"type": "boolean"
						},
						"currencies": {
							"type": "object",
							"properties": {
								"INR": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"symbol": {
											"type": "string"
										}
									}
								},
								"USD": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"symbol": {
											"type": "string"
										}
									}
								},
								"UAH": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"symbol": {
											"type": "string"
										}
									}
								},
								"KPW": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"symbol": {
											"type": "string"
										}
									}
								},
								"GBP": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"symbol": {
											"type": "string"
										}
									}
								},
								"EUR": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"symbol": {
											"type": "string"
										}
									}
								},
								"LSL": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"symbol": {
											"type": "string"
										}
									}
								},
								"ZAR": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"symbol": {
											"type": "string"
										}
									}
								},
								"SZL": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"symbol": {
											"type": "string"
										}
									}
								},
								"MUR": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"symbol": {
											"type": "string"
										}
									}
								}
							}
						},
						"idd": {
							"type": "object",
							"properties": {
								"root": {
									"type": "string"
								},
								"suffixes": {
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							}
						},
						"capital": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"altSpellings": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"region": {
							"type": "string"
						},
						"subregion": {
							"type": "string"
						},
						"languages": {
							"type": "object",
							"properties": {
								"eng": {
									"type": "string"
								},
								"hin": {
									"type": "string"
								},
								"tam": {
									"type": "string"
								},
								"ukr": {
									"type": "string"
								},
								"kor": {
									"type": "string"
								},
								"ell": {
									"type": "string"
								},
								"tur": {
									"type": "string"
								},
								"sot": {
									"type": "string"
								},
								"ssw": {
									"type": "string"
								},
								"fra": {
									"type": "string"
								},
								"mfe": {
									"type": "string"
								},
								"nld": {
									"type": "string"
								},
								"pap": {
									"type": "string"
								}
							}
						},
						"translations": {
							"type": "object",
							"properties": {
								"ara": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"bre": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"ces": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"cym": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"deu": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"est": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"fin": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"fra": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"hrv": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"hun": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"ita": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"jpn": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"kor": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"nld": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"per": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"pol": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"por": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"rus": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"slk": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"spa": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"srp": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"swe": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"tur": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"urd": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								},
								"zho": {
									"type": "object",
									"properties": {
										"official": {
											"type": "string"
										},
										"common": {
											"type": "string"
										}
									}
								}
							}
						},
						"latlng": {
							"type": "array",
							"items": {
								"type": "number"
							}
						},
						"landlocked": {
							"type": "boolean"
						},
						"borders": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"area": {
							"type": "number"
						},
						"demonyms": {
							"type": "object",
							"properties": {
								"eng": {
									"type": "object",
									"properties": {
										"f": {
											"type": "string"
										},
										"m": {
											"type": "string"
										}
									}
								},
								"fra": {
									"type": "object",
									"properties": {
										"f": {
											"type": "string"
										},
										"m": {
											"type": "string"
										}
									}
								}
							}
						},
						"flag": {
							"type": "string"
						},
						"maps": {
							"type": "object",
							"properties": {
								"googleMaps": {
									"type": "string"
								},
								"openStreetMaps": {
									"type": "string"
								}
							}
						},
						"population": {
							"type": "integer"
						},
						"gini": {
							"type": "object",
							"properties": {
								"2011": {
									"type": "number"
								},
								"2016": {
									"type": "number"
								},
								"2017": {
									"type": "number"
								},
								"2018": {
									"type": "number"
								},
								"2019": {
									"type": "number"
								}
							}
						},
						"fifa": {
							"type": "string"
						},
						"car": {
							"type": "object",
							"properties": {
								"signs": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"side": {
									"type": "string"
								}
							}
						},
						"timezones": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"continents": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"flags": {
							"type": "object",
							"properties": {
								"png": {
									"type": "string"
								},
								"svg": {
									"type": "string"
								},
								"alt": {
									"type": "string"
								}
							}
						},
						"coatOfArms": {
							"type": "object",
							"properties": {
								"png": {
									"type": "string"
								},
								"svg": {
									"type": "string"
								}
							}
						},
						"startOfWeek": {
							"type": "string"
						},
						"capitalInfo": {
							"type": "object",
							"properties": {
								"latlng": {
									"type": "array",
									"items": {
										"type": "number"
									}
								}
							}
						},
						"postalCode": {
							"type": "object",
							"properties": {
								"format": {
									"type": "string"
								},
								"regex": {
									"type": "string"
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_SERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQL_SERVER_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_SERVER_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_SERVER_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_SERVER_password')]"
					}
				},
				"connectVia": {
					"referenceName": "MyselfhostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_API_PARQUET_QUESTION1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_ALLCOUNTRIES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_APRQUET_API",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"items": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ASSIGNMENT_6"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_ALLCOUNTRIES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_API_QUESTION2_6')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@createArray('india','us','uk','china','russia')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_RESTAPI",
											"type": "DatasetReference",
											"parameters": {
												"item": "india",
												"filename": {
													"value": "@pipeline().parameters.fname",
													"type": "Expression"
												},
												"containername": {
													"value": "@pipeline().parameters.cname",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_json_api5",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "india",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"fname": {
						"type": "string"
					},
					"cname": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ASSIGNMENT_6"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_RESTAPI')]",
				"[concat(variables('factoryId'), '/datasets/ds_json_api5')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_API_QUESTION4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@createArray('india','us','uk','china','russia')",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_RESTAPI_COUNTRYNAME",
											"type": "DatasetReference",
											"parameters": {
												"item": "honolulu"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_JSON_API3",
											"type": "DatasetReference",
											"parameters": {
												"filename": "russia"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ASSIGNMENT_6"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_RESTAPI_COUNTRYNAME')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_API_QUESTION4_5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@createArray('india','us','uk','china','russia')",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_RESTAPI_COUNTRYNAME",
											"type": "DatasetReference",
											"parameters": {
												"item": "russia"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_JSON_API3",
											"type": "DatasetReference",
											"parameters": {
												"filename": "russia"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ASSIGNMENT_6"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_RESTAPI_COUNTRYNAME')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_APPEND_VARIABLES_EXAMPLE2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_GETMETA_FILES_APPEND",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								},
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [
										{
											"activity": "Wait1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Listoffiles",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Filenames",
							"value": {
								"value": "@{variables('Listoffiles')}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Listoffiles": {
						"type": "Array"
					},
					"Filenames": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ASSIGNMENT7_QUE1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_DYNAMIC_TABLE_FOLDER",
								"type": "DatasetReference",
								"parameters": {
									"tablename": {
										"value": "@pipeline().parameters.Tablename",
										"type": "Expression"
									},
									"schemaname": {
										"value": "@pipeline().parameters.Schemaname",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_DYNAMIC_TABLE_FOLDER",
								"type": "DatasetReference",
								"parameters": {
									"filename": {
										"value": "@concat('target/',pipeline().parameters.Foldername,'/')",
										"type": "Expression"
									},
									"folderpath": {
										"value": "@concat('target/',pipeline().parameters.Foldername,'/',pipeline().parameters.Tablename,'_',utcNow(),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Tablename": {
						"type": "string"
					},
					"Foldername": {
						"type": "string"
					},
					"Schemaname": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ASSIGNMENT_7"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_DYNAMIC_TABLE_FOLDER')]"
			]
		}
	]
}